@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root{
    --progress-bar-color: rgb(85, 34, 85);
}

body
{
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}
main .homepage .work-container button,
main .homepage .education-container button 
{
    text-decoration: none;
    color: black;
    transition: transform .2s;
    width: 100%;
}
main .homepage .work-container button:hover,
main .homepage .education-container button:hover
{
    transform: scale(1.1);
}
@media only screen and (max-width:812px) {
    main .homepage .work-container h4,
    main .homepage .education-container h4 
    {
        font-size: 14px;
    }

    main .homepage .skills-container .languages h6 img
    {
        width: 12px;
    }

    main .homepage .projects-container .swiper-container .swiper-wrapper .swiper-slide img
    {
        height: 230px !important;
    }
} 
@media only screen and (max-width:1024px) {
    main .homepage .skills-container .languages h6
    {    
        font-size: 12px;
    }
    main .homepage .skills-container h3.lng-head
    {
        font-size: 20px;
    }
}
/*Skills progress bar*/
.homepage .card .card-body .progress
{
    height: 16px;
}
.homepage .card .card-body .progress .progress-bar.photoshop
{
    background-color: var(--progress-bar-color);
    width: 95%;
}

.homepage .card .card-body .progress .progress-bar.illustrator
{
    background-color: var(--progress-bar-color);
    width: 65%;
}

.homepage .card .card-body .progress .progress-bar.archicad
{
    background-color: var(--progress-bar-color);
    width: 80%;
}

.homepage .card .card-body .progress .progress-bar.artlantis
{
    background-color: var(--progress-bar-color);
    width: 75%;
}

.homepage .card .card-body .progress .progress-bar.corel-draw
{
    background-color: var(--progress-bar-color);
    width: 75%;
}

.homepage .card .card-body .progress .progress-bar.sketchup
{
    background-color: var(--progress-bar-color);
    width: 90%;
}

.homepage .card .card-body .progress .progress-bar.tile-creator
{
    background-color: var(--progress-bar-color);
    width: 98%;
}
.homepage .card .card-body h6 img
{
    width: 8%;
}
/*Skills progress bar End*/

main .homepage .skills-container .languages h6 img
{
    width: 20px;
}
main .homepage .education-container .card .card-body .diploma img
{
    width: 23px;
}
main .homepage .name-container .main-img
{
    display: flex;
    justify-content: center;
    align-items: center;
} 
main .homepage .name-container .main-img img
{
    /* border-radius: 100%; */
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    width: 100%;
    margin-top: 1px;
}
main .homepage .name-container h3
{
    text-align: center;
    margin-top: 10px;
}
main .homepage .card, 
main .homepage .card.presented
{
    /* background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
    background: radial-gradient( circle 827px at 47.3% 48%,  rgba(255, 255, 255, 0.795) 0%, rgba(138, 193, 216, 0.815) 90% );

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 9px;
}
main .homepage .about-container .card .card-body p,
main .homepage .about-container .card .card-body .button-cv
{
    text-align: center;
}
main .homepage .projects-container h4
{
    text-align: center;
}
/* Accordion Arrows Animation */
.fa-arrow-alt-circle-down
{
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    font-size: 18px;
}

.fa-arrow-alt-circle-down {
    animation-name: fa-arrow-alt-circle-down;
    animation-timing-function: ease;
}
@keyframes fa-arrow-alt-circle-down {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(8px); }
    100% { transform: translateY(0); }
}
/* Accordion Arrows Animation End */
.hidden
{
    display: none;
}
/* Swiper */
main .homepage .projects-container .swiper-container .swiper-wrapper .swiper-slide img
{
    height: 500px;
    transform: scale(1.1);
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  /* Swiper End */
  main .homepage .projects-container .swiper-container .swiper-wrapper .swiper-slide a
  {
    transition: transform .2s;
  }
  main .homepage .projects-container .swiper-container .swiper-wrapper .swiper-slide a:hover
  {
    transform: scale(1.3);
  }
/* ----------------------------------------------------- */
